.portifolio {
  box-shadow: 0px 2px -24px rgba(0, 0, 0, -0.25);
  .pgroup {
    margin: 0;
    .name2sec {
      
      margin-right: 0;
      @include flex(row);
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 3rem;
      .number2 {
        
        font-family: $primaryFont;
        text-align: right;
        font-style: normal;
        font-weight: 200;
        font-size: 50px;
        line-height: 80%;
        text-align: right;
        color: #ffffff;
        opacity: 0.2;
        margin-right: 1rem;
        margin-left: 4rem;
      }
      .mywork {
        
        @include flex(column);
        margin-top: 5rem;
        .myrecent {
          align-self: start;
          font-family: $primaryFont;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
        .name2 {
          
          font-family: $secondryFont;
          font-style: normal;
          font-weight: normal;
          font-size: 2.5rem;
          line-height: 100%;
          /* identical to box height, or 110px */

          color: #ffffff;
          h1 {
            margin: 0;
          }
        }
      }
    }
    .boxes {
      font-family: $primaryFont;
      margin-top: 4rem;
     
      display: grid;
      grid-template: 3fr 3fr/ 3fr 3fr;
      .box1 {
        padding: 1rem;
        background: #212123;
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
        height: 25rem;
        transform: translateX(-100%);
        background-image: url(./ghraphic/opinions.png);
        background-size: cover;
        .pname {
          font-style: normal;
          font-weight: 300;
          font-size: 2rem;
          line-height: 80%;
          color: #FFFFFF;
        }
        .lang {
          @include flex(row);
          ma
          div {
            margin: 1rem;
            color: #FFFFFF;
            
          }
          
        }
      }
      .fbox {
        display: grid;
        grid-template: 2fr 3fr;

        .box2 {
          padding: 1rem;
          background: #212123;
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          background-image: url(./ghraphic/porti.png);
          background-size: cover;
          transform: translateX(100%);
          .pname {
            font-style: normal;
            font-weight: 300;
            font-size: 2rem;
            line-height: 40%;
            /* identical to box height, or 48px */
  
  
            color: #FFFFFF;
          }
          .lang {
            
            div {
              margin: 1rem;
              color: #FFFFFF;
              
            }
            
          }
        }
        .box3 {
          padding: 1rem;
          background: #212123;
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          background-image: url(./ghraphic/todo.png);
          background-size: auto;
          transform: translateX(100%);
          
          .pname {
            font-style: normal;
            font-weight: 300;
            font-size: 2rem;
            line-height: 80%;
            /* identical to box height, or 48px */
  
  
            color: #FFFFFF;
          }
          .lang {
            @include flex(row);
            div {
              margin: 1rem;
              color:black;
              
            }
            
          }
        }
      }
      .sbox {
        display: grid;
        grid-template: 3fr 2fr;
        .box4 {
          
          padding: 1rem;
          background: #212123;
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          background-image: url(./ghraphic/likeyelp.png);
          transform: translateX(-100%);
          
          .pname {
            font-style: normal;
            font-weight: 300;
            font-size: 2rem;
            line-height: 80%;
            /* identical to box height, or 48px */
  
  
            color: #FFFFFF;
          }
          .lang {
            @include flex(row);
            div {
              margin: 1rem;
              color: #FFFFFF;
              
            }
            
          }
        }

        .box5 {
          padding: 1rem;
          background: #212123;
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          background-image: url(./ghraphic/chore.png);
          background-size: cover;
          transform: translateX(-100%);
          .pname {
            font-style: normal;
            font-weight: 300;
            font-size: 2rem;
            line-height: 80%;
            /* identical to box height, or 48px */
  
  
            color: #FFFFFF;
          }
          .lang {
            @include flex(row);
            div {
              margin: 1rem;
              color: #FFFFFF;
              
            }
            
          }
        }
      }
      .box6 {
        padding: 1rem;
        background: #212123;
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
        background-image: url(./ghraphic/blog.png);
        transform: translateX(100%);
       
        .pname {
          font-style: normal;
          font-weight: 300;
          font-size: 2rem;
          line-height: 80%;
          /* identical to box height, or 48px */


          color: #FFFFFF;
        }
        .lang {
          @include flex(row);
          div {
            margin: 1rem;
            color:black;
            
          }
          
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .portifolio {
   
    .pgroup {
     
      .name2sec {
       
        @include flex(column);
        
        margin-top: 3rem;
        .number2 {
          
          font-size: 2rem;
          h1 {
            text-align: center;
          }
         
        }
        .mywork {
         
          @include flex(column);
          margin-top: 1rem;
          .myrecent {
            align-self: center;
            
          }
          .name2 {
           
            font-size: 1rem;
            
          }
        }
      }
      .boxes {
        margin-top: 4rem;
        display: flex;
        @include flex(column);
        width: 100%;
        
        .box1 {
          
          height: 10rem;
          width: 100%;
          transform: translateX(-100%);
        }
        .fbox {
        
          
          width: 100%;
          .box2 {
            height: 10rem;
          }
          .box3 {
            height: 10rem;
          }
        }
        .sbox {
          width: 100%;
          .box4 {
            height: 10rem;
          }
  
          .box5 {
            height: 10rem;
          }
        }
        .box6 {
          height: 10rem;
          width: 100%;
        }
      }
    }
  }
}
