.portifolio {

  .pgroup {
  
    .name2sec {
      @include flex(row);
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 3rem;
      .number2 {
        
        font-family: $primaryFont;
        text-align: right;
        font-style: normal;
        font-weight: 200;
        font-size: 50px;
        line-height: 80%;
        text-align: right;
        color: #FFFFFF;
        opacity: 0.2;
        margin-right: 1rem;
        margin-left: 4rem;
      }
      .mywork {
        @include flex(column);
        margin-top: 5rem;
        .myrecent {
          align-self: start;
          font-family: $primaryFont;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          
        }
        .name2 {
         
          font-family: $secondryFont;
          font-style: normal;
          font-weight: normal;
          font-size: 2.5rem;
          line-height: 100%;
          /* identical to box height, or 110px */
  
  
          color: #FFFFFF;
          h1 {
            margin: 0;
          }
  
          
        }
        
      }
    }
    
  }

}