.portifolio {
  box-shadow: 0px 2px -24px rgba(0, 0, 0, -0.25);
  .pgroup {
    margin: 0;
    .name2sec {
      z-index: 5;
      margin-right: 0;
      @include flex(row);
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 3rem;
      .number2 {
        z-index: 5;
        font-family: $primaryFont;
        text-align: right;
        font-style: normal;
        font-weight: 200;
        font-size: 50px;
        line-height: 80%;
        text-align: right;
        color: #ffffff;
        opacity: 0.2;
        margin-right: 1rem;
        margin-left: 4rem;
      }
      .mywork {
        z-index: 5;
        @include flex(column);
        margin-top: 5rem;
        .myrecent {
          align-self: start;
          font-family: $primaryFont;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
        .name2 {
          z-index: 5;
          font-family: $secondryFont;
          font-style: normal;
          font-weight: normal;
          font-size: 2.5rem;
          line-height: 100%;
          /* identical to box height, or 110px */

          color: #ffffff;
          h1 {
            margin: 0;
          }
        }
      }
    }
    .boxes {
      z-index: 5;
      margin-top: 4rem;
     
      display: grid;
      grid-template: 3fr 3fr/ 3fr 3fr;
      .box1 {
        background: #212123;
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
        height: 25rem;
      }
      .fbox {
        display: grid;
        grid-template: 2fr 3fr;

        .box2 {
          background: #212123;
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
        }
        .box3 {
          background: #212123;
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
        }
      }
      .sbox {
        display: grid;
        grid-template: 3fr 2fr;
        .box4 {
          background: #212123;
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
        }

        .box5 {
          background: #212123;
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
        }
      }
      .box6 {
        background: #212123;
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
