@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@100&display=swap");
body, html {
  background: #1b1b1d;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.hello {
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hello .firstg {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hello .firstg .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
  width: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hello .firstg .first .number1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 3rem;
  line-height: 9rem;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.2;
}

.hello .firstg .first .number1 h1 {
  margin: 0 1rem 3rem 0;
}

.hello .firstg .first .myname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
}

.hello .firstg .first .myname .helloim {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: #FFFFFF;
}

.hello .firstg .first .myname .helloim h5 {
  margin: 0;
}

.hello .firstg .first .myname .name1 {
  font-family: "Playerfair";
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 150%;
  color: #FFFFFF;
}

.hello .firstg .first .myname .name1 h1 {
  margin: 0;
}

.hello .firstg .first .myname .about {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.7rem;
  color: #FFFFFF;
}

.hello .firstg .first .myname .seework {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.hello .firstg .first .myname .seework .seemywork {
  font-family: "Roboto";
  margin-right: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #DB4747;
}

.hello .firstg .first .myname .seework .sline {
  margin-right: 1rem;
  width: 5rem;
  border: 1px solid #FFFFFF;
}

.hello .firstg .first .myname .seework .slinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hello .firstg .first .myname .seework .slinks .image {
  width: 1.5rem;
  margin: 0.5rem;
}

.hello .secondg .sidenave {
  margin-right: 5rem;
  font-family: "Poppins";
}

.hello .secondg .sidenave .alink {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 5rem;
  text-align: right;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hello .secondg .sidenave a {
  text-decoration: none;
  color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
  .hello {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hello .firstg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hello .firstg .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2rem;
  }
  .hello .firstg .first .number1 {
    font-size: 2rem;
    line-height: 4rem;
  }
  .hello .firstg .first .number1 h1 {
    margin: 0 0;
  }
  .hello .firstg .first .myname {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
  }
  .hello .firstg .first .myname .helloim {
    margin: 1rem;
  }
  .hello .firstg .first .myname .name1 {
    font-size: 1rem;
  }
  .hello .firstg .first .myname .about {
    font-size: 1rem;
    line-height: 1.7rem;
  }
  .hello .firstg .first .myname .seework {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .hello .firstg .first .myname .seework .sline {
    margin: 1rem;
  }
  .hello .secondg {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

.portifolio {
  -webkit-box-shadow: 0px 2px -24px rgba(0, 0, 0, 0);
          box-shadow: 0px 2px -24px rgba(0, 0, 0, 0);
}

.portifolio .pgroup {
  margin: 0;
}

.portifolio .pgroup .name2sec {
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 3rem;
}

.portifolio .pgroup .name2sec .number2 {
  font-family: "Poppins";
  text-align: right;
  font-style: normal;
  font-weight: 200;
  font-size: 50px;
  line-height: 80%;
  text-align: right;
  color: #ffffff;
  opacity: 0.2;
  margin-right: 1rem;
  margin-left: 4rem;
}

.portifolio .pgroup .name2sec .mywork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
}

.portifolio .pgroup .name2sec .mywork .myrecent {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.portifolio .pgroup .name2sec .mywork .name2 {
  font-family: "Playerfair";
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 100%;
  /* identical to box height, or 110px */
  color: #ffffff;
}

.portifolio .pgroup .name2sec .mywork .name2 h1 {
  margin: 0;
}

.portifolio .pgroup .boxes {
  font-family: "Poppins";
  margin-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 3fr 3fr;
  -ms-grid-columns: 3fr 3fr;
      grid-template: 3fr 3fr/ 3fr 3fr;
}

.portifolio .pgroup .boxes .box1 {
  padding: 1rem;
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  height: 25rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: url(./ghraphic/opinions.png);
  background-size: cover;
}

.portifolio .pgroup .boxes .box1 .pname {
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 80%;
  /* identical to box height, or 48px */
  color: #FFFFFF;
}

.portifolio .pgroup .boxes .box1 .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portifolio .pgroup .boxes .box1 .lang div {
  margin: 1rem;
  color: #FFFFFF;
}

.portifolio .pgroup .boxes .fbox {
  display: -ms-grid;
  display: grid;
  grid-template: 2fr 3fr;
}

.portifolio .pgroup .boxes .fbox .box2 {
  padding: 1rem;
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  background-image: url(./ghraphic/porti.png);
  background-size: cover;
}

.portifolio .pgroup .boxes .fbox .box2 .pname {
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 80%;
  /* identical to box height, or 48px */
  color: #FFFFFF;
}

.portifolio .pgroup .boxes .fbox .box2 .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portifolio .pgroup .boxes .fbox .box2 .lang div {
  margin: 1rem;
  color: #FFFFFF;
}

.portifolio .pgroup .boxes .fbox .box3 {
  padding: 1rem;
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  background-image: url(./ghraphic/todo.png);
  background-size: contain;
}

.portifolio .pgroup .boxes .fbox .box3 .pname {
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 80%;
  /* identical to box height, or 48px */
  color: #FFFFFF;
}

.portifolio .pgroup .boxes .fbox .box3 .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portifolio .pgroup .boxes .fbox .box3 .lang div {
  margin: 1rem;
  color: #FFFFFF;
}

.portifolio .pgroup .boxes .sbox {
  display: -ms-grid;
  display: grid;
  grid-template: 3fr 2fr;
}

.portifolio .pgroup .boxes .sbox .box4 {
  padding: 1rem;
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  background-image: url(./ghraphic/likeyelp.png);
}

.portifolio .pgroup .boxes .sbox .box4 .pname {
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 80%;
  /* identical to box height, or 48px */
  color: #FFFFFF;
}

.portifolio .pgroup .boxes .sbox .box4 .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portifolio .pgroup .boxes .sbox .box4 .lang div {
  margin: 1rem;
  color: #FFFFFF;
}

.portifolio .pgroup .boxes .sbox .box5 {
  padding: 1rem;
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  background-image: url(./ghraphic/chore.png);
  background-size: cover;
}

.portifolio .pgroup .boxes .sbox .box5 .pname {
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 80%;
  /* identical to box height, or 48px */
  color: #FFFFFF;
}

.portifolio .pgroup .boxes .sbox .box5 .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portifolio .pgroup .boxes .sbox .box5 .lang div {
  margin: 1rem;
  color: #FFFFFF;
}

.portifolio .pgroup .boxes .box6 {
  padding: 1rem;
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  background-image: url(./ghraphic/blog.png);
}

.portifolio .pgroup .boxes .box6 .pname {
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 80%;
  /* identical to box height, or 48px */
  color: #FFFFFF;
}

.portifolio .pgroup .boxes .box6 .lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portifolio .pgroup .boxes .box6 .lang div {
  margin: 1rem;
  color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
  .portifolio .pgroup .name2sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3rem;
  }
  .portifolio .pgroup .name2sec .number2 {
    font-size: 2rem;
  }
  .portifolio .pgroup .name2sec .number2 h1 {
    text-align: center;
  }
  .portifolio .pgroup .name2sec .mywork {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
  }
  .portifolio .pgroup .name2sec .mywork .myrecent {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .portifolio .pgroup .name2sec .mywork .name2 {
    font-size: 1rem;
  }
  .portifolio .pgroup .boxes {
    margin-top: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .portifolio .pgroup .boxes .box1 {
    height: 10rem;
    width: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .portifolio .pgroup .boxes .fbox {
    width: 100%;
  }
  .portifolio .pgroup .boxes .fbox .box2 {
    height: 10rem;
  }
  .portifolio .pgroup .boxes .fbox .box3 {
    height: 10rem;
  }
  .portifolio .pgroup .boxes .sbox {
    width: 100%;
  }
  .portifolio .pgroup .boxes .sbox .box4 {
    height: 10rem;
  }
  .portifolio .pgroup .boxes .sbox .box5 {
    height: 10rem;
  }
  .portifolio .pgroup .boxes .box6 {
    height: 10rem;
    width: 100%;
  }
}

.aboutme {
  margin: 5rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6fr 3fr;
  -ms-grid-columns: 3fr 3fr;
      grid-template: 6fr 3fr/ 3fr 3fr;
}

.aboutme .aabout {
  margin: 1rem;
}

.aboutme .aabout .number3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 3rem;
  line-height: 9rem;
  text-align: left;
  color: #FFFFFF;
  opacity: 0.2;
}

.aboutme .aabout .number3 h1 {
  margin: 0 1rem 0rem 0;
}

.aboutme .aabout .mywork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutme .aabout .mywork .myrecent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: #FFFFFF;
}

.aboutme .aabout .mywork .myrecent h5 {
  margin: 0;
}

.aboutme .aabout .mywork .name {
  font-family: "Playerfair";
  margin-top: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 150%;
  color: #FFFFFF;
}

.aboutme .aabout .mywork .name h1 {
  margin: 0;
}

.aboutme .aabout .mywork .about {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.7rem;
  color: #FFFFFF;
}

.aboutme .aabout .mywork .seework {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.aboutme .aabout .mywork .seework .seemywork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Roboto";
  margin-right: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #DB4747;
}

.aboutme .skills {
  font-family: "Poppins";
  height: 6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 120fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template: 120fr 1fr/1fr 1fr;
}

.aboutme .skills img {
  margin: 1rem;
  height: 2rem;
}

.aboutme .skills .svg {
  border: 1px none wheat;
  width: 4rem;
  margin: 0.5rem;
  border-radius: 25%;
  background-color: rgba(187, 192, 243, 0.1);
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
}

.aboutme .skills .svg img {
  margin: 1rem;
}

.aboutme .skills .fskill {
  display: -ms-grid;
  display: grid;
}

.aboutme .skills .fskill .skill1 {
  background-color: black;
  margin: 1rem;
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.aboutme .skills .fskill .skill1 .to {
  color: white;
  margin: 0 1rem;
}

.aboutme .skills .fskill .skill1 .in ul {
  color: white;
  list-style: none;
}

.aboutme .skills .fskill .skill2 {
  background-color: #df5e5e;
  margin: 1rem;
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.aboutme .skills .fskill .skill2 .to {
  color: white;
  margin: 0 1rem;
}

.aboutme .skills .fskill .skill2 .in ul {
  color: white;
  list-style: none;
}

.aboutme .skills .sskill {
  display: -ms-grid;
  display: grid;
}

.aboutme .skills .sskill .skill3 {
  background-color: #445f41;
  margin: 1rem;
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.aboutme .skills .sskill .skill3 .to {
  color: white;
  margin: 0 1rem;
}

.aboutme .skills .sskill .skill3 .in ul {
  color: white;
  list-style: none;
}

.aboutme .skills .sskill .skill4 {
  background-color: #20155e;
  margin: 1rem;
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.aboutme .skills .sskill .skill4 .to {
  color: white;
  margin: 0 1rem;
}

.aboutme .skills .sskill .skill4 .in ul {
  color: white;
  list-style: none;
}

@media only screen and (max-width: 767px) {
  .aboutme {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutme .aabout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem;
    height: auto;
  }
  .aboutme .aabout .number3 {
    font-size: 2rem;
  }
  .aboutme .aabout .mywork {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aboutme .aabout .mywork .myrecent {
    font-size: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .aboutme .aabout .mywork .name {
    font-size: 1rem;
  }
  .aboutme .aabout .mywork .about {
    font-size: 1rem;
  }
  .aboutme .aabout .mywork .seework {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .aboutme .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
  }
  .aboutme .skills .fskill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .aboutme .skills .sskill {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.contact {
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #212123;
  -webkit-box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.25);
}

.contact .forth {
  width: 50%;
  margin: 3rem 0 5rem 0;
}

.contact .forth .num4sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .forth .num4sec .number4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-size: 3rem;
  line-height: 9rem;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.2;
}

.contact .forth .num4sec .number4 h1 {
  margin: 0 1rem 3rem 0;
}

.contact .forth .num4sec .mywork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5rem;
}

.contact .forth .num4sec .mywork .myrecent {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: #FFFFFF;
}

.contact .forth .num4sec .mywork .myrecent h5 {
  margin: 0;
}

.contact .forth .num4sec .mywork .name1 {
  font-family: "Playerfair";
  font-style: normal;
  font-weight: normal;
  font-size: 4rem;
  line-height: 150%;
  color: #FFFFFF;
}

.contact .forth .num4sec .mywork .name1 h1 {
  margin: 0;
}

.contact .forth .num4sec .mywork .about {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.7rem;
  color: #FFFFFF;
}

@media only screen and (max-width: 767px) {
  .contact .forth .num4sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contact .forth .num4sec .number4 {
    font-size: 2rem;
    margin: 0;
  }
  .contact .forth .num4sec .number4 h1 {
    margin: 0;
  }
  .contact .forth .num4sec .mywork {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0.5rem;
  }
  .contact .forth .num4sec .mywork .myrecent {
    font-size: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contact .forth .num4sec .mywork .name1 {
    margin: 1rem;
    font-size: 1rem;
  }
  .contact .forth .num4sec .mywork .about {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.7rem;
    color: #FFFFFF;
  }
}
/*# sourceMappingURL=styles.css.map */