

body {
  background-color: darkgoldenrod;
 
}
@import './variables';

@mixin flex($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;

  
}

@import './hello';


@import './portifolio'

